
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.render {
	opacity: 1;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.message {
	position: relative;
	z-index: 100;
	padding: 1.5em 1em;
	font-size: 0.85em;
	font-weight: bold;
	text-align: center;
	color: var(--color-bg);
	background: var(--color-text);
}

@supports(-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
	.message {
		display: none;
	}
}

h1 {
	font-size:16px;
	color:#333;
}

.imgloaded .content__title,
.imgloaded .content__text {
	animation-name: glitch-anim-text;
	animation-duration: var(--time-anim);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.content__title {
	font-size: 12vw;
	margin: 35vh 0 0 0;
	position: relative;
	font-family: 'Playfair Display', serif;
	animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);
}

.content__text {
	font-family: 'IM Fell English', serif;
	position: absolute;
	font-size: 1.5em;
	top: 4em;
	right: 10vw;
	max-width: 500px;
	text-align: right;
	font-weight: 400;
	animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.25);
}

@media screen and (max-width: 55em) {
	.content__text {
		position: relative;
		right: auto;
		top: auto;
		font-size: 1.25em;
		padding: 0 1em;
		text-align: center;
	}
}

#media-player {
	float:left;
	padding:1em 1em .5em;
	background-color:#333;
}

video {
	border:1px solid #2e52a4;
	width:305px;
	height:160px;
	background:#000;
}

button {
	text-indent:-9999px;
	width:16px;
	height:16px;
	border:none;
	cursor:pointer;
	background:transparent url('../img/buttons.jpg') no-repeat 0 0;
}

.demo-1 {
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #f9d77e;
	--color-link-hover: #fff;
	--color-info: #efc453;
	--glitch-width: 100vw;
	--glitch-height: 100vh;
	--gap-horizontal: 10px;
	--gap-vertical: 5px;
	--time-anim: 4s;
	--delay-anim: 2s;
	--blend-mode-1: none;
	--blend-mode-2: none;
	--blend-mode-3: none;
	--blend-mode-4: none;
	--blend-mode-5: overlay;
	--blend-color-1: transparent;
	--blend-color-2: transparent;
	--blend-color-3: transparent;
	--blend-color-4: transparent;
	--blend-color-5: #af4949;
}

.pause { background-position:-19px 0; }
.stop { background-position:-38px 0; }
.volume-plus { background-position:-57px 0; }
.volume-minus { background-position:-76px 0; }
.mute { background-position:-95px 0; }
.unmute { background-position:-114px 0; }
.replay { background-position:-133px 0; }

progress {
	color:#fff;
	font-size:12px;
	width:172px;
	height:16px;
	border:none;
	margin-right:5px;
	background:#434343;
}
progress::-moz-progress-bar { background:#2e52a4; }

#media-play-list {
	float:left;
	clear:both;
	color:#aaa;
	width:100%;
	margin-top:10px;
	border-top:1px solid #2e52a4;
}
#media-play-list  h2 { font-size:12px; }
#play-list {
	padding:0;
	font-size:12px;
	list-style-type:none;
}
#play-list li {
	cursor:pointer;
	padding-left:15px;
	background:transparent url('item.png') no-repeat 0 4px;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#media-controls {
	position: fixed;
	z-index:999;
}

span.mover {
  width: 100px;
  height: 100px;
  z-index:999;
  background-color: red;
  position: fixed;
  top: 20%;
  left: 70%;
  -webkit-animation: animation 2800ms linear infinite both;
  animation: jellyfam 3500ms linear infinite both;
}

span.mover-1 {
  width: 100px;
  height: 100px;
  z-index:999;
  background-color: red;
  position: fixed;
  top: 60%;
  left: 70%;
  -webkit-animation: animation 2800ms linear infinite both;
  animation: jellyfam 3500ms linear infinite both;
  animation-delay: -2s;
  animation-fill-mode: forwards;
}



/*
.container {
	position: relative;
  -webkit-animation: animation 2800ms linear infinite both;
  animation: animation 2800ms linear infinite both;
}
*/

.glitch {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--glitch-width);
	height: var(--glitch-height);
	overflow: hidden;
}

.glitch__img {
	position: absolute;
	top: calc(-1 * var(--gap-vertical));
	left: calc(-1 * var(--gap-horizontal));
	width: calc(100% + var(--gap-horizontal) * 2);
	height: calc(100% + var(--gap-vertical) * 2);
	background: url(../Wilson_Glitch.jpg) no-repeat 50% 0;
	background-color: var(--blend-color-1);
	background-size: cover;
	transform: translate3d(0,0,0);
	background-blend-mode: var(--blend-mode-1);
}

.glitch__img:nth-child(n+2) {
	opacity: 0;
}

.imgloaded .glitch__img:nth-child(n+2) {
	animation-duration: var(--time-anim);
	animation-delay: var(--delay-anim);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.imgloaded .glitch__img:nth-child(2) {
	background-color: var(--blend-color-2);
	background-blend-mode: var(--blend-mode-2);
	animation-name: glitch-anim-1;
}

.imgloaded .glitch__img:nth-child(3) {
	background-color: var(--blend-color-3);
	background-blend-mode: var(--blend-mode-3);
	animation-name: glitch-anim-2;
}

.imgloaded .glitch__img:nth-child(4) {
	background-color: var(--blend-color-4);
	background-blend-mode: var(--blend-mode-4);
	animation-name: glitch-anim-3;
}

.imgloaded .glitch__img:nth-child(5) {
	background-color: var(--blend-color-5);
	background-blend-mode: var(--blend-mode-5);
	animation-name: glitch-anim-flash;
}

@keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

@keyframes glitch-anim-1 {
	0% {
		opacity: 1;
		transform: translate3d(var(--gap-horizontal),0,0);
		-webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
	}
	2% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
	}
	4% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
	}
	6% {
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
		clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
	}
	8% {
		-webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
	10% {
		-webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
	12% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}
	14% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	16% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	18% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	20% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(var(--gap-horizontal),0,0);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

@keyframes glitch-anim-2 {
	0% {
		opacity: 1;
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
		-webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
		clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
	}
	3% {
		-webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
		clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
	}
	5% {
		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
		clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
	}
	7% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	9% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
		clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
	}
	11% {
		-webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
		clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
	}
	13% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	15% {
		-webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
		clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
	}
	17% {
		-webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
		clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
	}
	19% {
		-webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
		clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
	}
	20% {
		-webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
		clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

@keyframes glitch-anim-3 {
	0% {
		opacity: 1;
		transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
		clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
	}
	1.5% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
		clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
	}
	2% {
		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
		clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
	}
	2.5% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	3% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
		clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
	}
	5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
		clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
	}
	5.5% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
		clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
	}
	7% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
		clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
	}
	8% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
	9% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
		clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
	}
	10.5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
		clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
	}
	11% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
		clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
	}
	13% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
		clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
	}
	14% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
		clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
	}
	14.5% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
		clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
	}
	15% {
		-webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
		clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
	}
	16% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	18% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
		clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
	}
	20% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
		clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

@keyframes glitch-anim-text {
	0% {
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0) scale3d(-1,-1,1);
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
	2% {
		-webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
	4% {
		-webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
	5% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}
	6% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	7% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	8% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	9% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
	9.9% {
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0) scale3d(-1,-1,1);
	}
	10%, 100% {
		transform: translate3d(0,0,0) scale3d(1,1,1);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}

/* Flash */
@keyframes glitch-anim-flash {
	0%, 5% {
		opacity: 0.2;
		transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
	}
	5.5%, 100% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
}



@keyframes jellyfam { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -500, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -500, 0, 0, 1); }
  1.14% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -282.728, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -282.728, 0, 0, 1); }
  2.29% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -149.309, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -149.309, 0, 0, 1); }
  3.43% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -72.484, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -72.484, 0, 0, 1); }
  4.58% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.079, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.079, 0, 0, 1); }
  6.86% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.214, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.214, 0, 0, 1); }
  9.15% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.886, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.886, 0, 0, 1); }
  23.45% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.003, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.003, 0, 0, 1); }
  28.47% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  28.57% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  29.86% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15.312, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15.312, 0, 1); }
  31.15% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -19.275, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -19.275, 0, 1); }
  32.75% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15.606, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -15.606, 0, 1); }
  34.33% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -9.111, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -9.111, 0, 1); }
  35.71% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.058, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.058, 0, 1); }
  35.94% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.395, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.395, 0, 1); }
  37.51% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.013, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.013, 0, 1); }
  40.08% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.622, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.622, 0, 1); }
  46.45% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); }
  49.02% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.137, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.137, 0, 1); }
  55.38% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  57.96% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.011, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.011, 0, 1); }
  64.19% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  64.29% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  64.29% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  65.82% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 257.135, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 257.135, 0, 0, 1); }
  67.36% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 439.293, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 439.293, 0, 0, 1); }
  68.9% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 526.138, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 526.138, 0, 0, 1); }
  70.43% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 546.667, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 546.667, 0, 0, 1); }
  74.4% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 510.313, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 510.313, 0, 0, 1); }
  78.37% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 496.885, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 496.885, 0, 0, 1); }
  86.31% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 500.208, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 500.208, 0, 0, 1); }
  94.28% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 499.986, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 499.986, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 500, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 500, 0, 0, 1); } 
}


@keyframes slinkyfam { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -260, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -260, 0, 0, 1); }
  0.92% { -webkit-transform: matrix3d(0.817, 0.577, 0, 0, -0.577, 0.817, 0, 0, 0, 0, 1, 0, -216.549, -26.519, 0, 1); transform: matrix3d(0.817, 0.577, 0, 0, -0.577, 0.817, 0, 0, 0, 0, 1, 0, -216.549, -26.519, 0, 1); }
  1.2% { -webkit-transform: matrix3d(0.703, 0.711, 0, 0, -0.711, 0.703, 0, 0, 0, 0, 1, 0, -205.073, -30.207, 0, 1); transform: matrix3d(0.703, 0.711, 0, 0, -0.711, 0.703, 0, 0, 0, 0, 1, 0, -205.073, -30.207, 0, 1); }
  1.23% { -webkit-transform: matrix3d(0.691, 0.723, 0, 0, -0.723, 0.691, 0, 0, 0, 0, 1, 0, -203.995, -30.482, 0, 1); transform: matrix3d(0.691, 0.723, 0, 0, -0.723, 0.691, 0, 0, 0, 0, 1, 0, -203.995, -30.482, 0, 1); }
  1.83% { -webkit-transform: matrix3d(0.43, 0.903, 0, 0, -0.903, 0.43, 0, 0, 0, 0, 1, 0, -184.407, -33.035, 0, 1); transform: matrix3d(0.43, 0.903, 0, 0, -0.903, 0.43, 0, 0, 0, 0, 1, 0, -184.407, -33.035, 0, 1); }
  2.37% { -webkit-transform: matrix3d(0.219, 0.976, 0, 0, -0.976, 0.219, 0, 0, 0, 0, 1, 0, -171.589, -31.423, 0, 1); transform: matrix3d(0.219, 0.976, 0, 0, -0.976, 0.219, 0, 0, 0, 0, 1, 0, -171.589, -31.423, 0, 1); }
  2.46% { -webkit-transform: matrix3d(0.19, 0.982, 0, 0, -0.982, 0.19, 0, 0, 0, 0, 1, 0, -169.96, -30.938, 0, 1); transform: matrix3d(0.19, 0.982, 0, 0, -0.982, 0.19, 0, 0, 0, 0, 1, 0, -169.96, -30.938, 0, 1); }
  3.58% { -webkit-transform: matrix3d(-0.067, 0.998, 0, 0, -0.998, -0.067, 0, 0, 0, 0, 1, 0, -156.785, -21.783, 0, 1); transform: matrix3d(-0.067, 0.998, 0, 0, -0.998, -0.067, 0, 0, 0, 0, 1, 0, -156.785, -21.783, 0, 1); }
  3.63% { -webkit-transform: matrix3d(-0.075, 0.997, 0, 0, -0.997, -0.075, 0, 0, 0, 0, 1, 0, -156.438, -21.251, 0, 1); transform: matrix3d(-0.075, 0.997, 0, 0, -0.997, -0.075, 0, 0, 0, 0, 1, 0, -156.438, -21.251, 0, 1); }
  3.69% { -webkit-transform: matrix3d(-0.082, 0.997, 0, 0, -0.997, -0.082, 0, 0, 0, 0, 1, 0, -156.116, -20.719, 0, 1); transform: matrix3d(-0.082, 0.997, 0, 0, -0.997, -0.082, 0, 0, 0, 0, 1, 0, -156.116, -20.719, 0, 1); }
  4.75% { -webkit-transform: matrix3d(-0.145, 0.989, 0, 0, -0.989, -0.145, 0, 0, 0, 0, 1, 0, -153.669, -11.485, 0, 1); transform: matrix3d(-0.145, 0.989, 0, 0, -0.989, -0.145, 0, 0, 0, 0, 1, 0, -153.669, -11.485, 0, 1); }
  4.92% { -webkit-transform: matrix3d(-0.146, 0.989, 0, 0, -0.989, -0.146, 0, 0, 0, 0, 1, 0, -153.718, -10.186, 0, 1); transform: matrix3d(-0.146, 0.989, 0, 0, -0.989, -0.146, 0, 0, 0, 0, 1, 0, -153.718, -10.186, 0, 1); }
  5.41% { -webkit-transform: matrix3d(-0.14, 0.99, 0, 0, -0.99, -0.14, 0, 0, 0, 0, 1, 0, -154.231, -6.907, 0, 1); transform: matrix3d(-0.14, 0.99, 0, 0, -0.99, -0.14, 0, 0, 0, 0, 1, 0, -154.231, -6.907, 0, 1); }
  7.21% { -webkit-transform: matrix3d(-0.066, 0.998, 0, 0, -0.998, -0.066, 0, 0, 0, 0, 1, 0, -157.638, 0.131, 0, 1); transform: matrix3d(-0.066, 0.998, 0, 0, -0.998, -0.066, 0, 0, 0, 0, 1, 0, -157.638, 0.131, 0, 1); }
  7.92% { -webkit-transform: matrix3d(-0.038, 0.999, 0, 0, -0.999, -0.038, 0, 0, 0, 0, 1, 0, -158.715, 1.148, 0, 1); transform: matrix3d(-0.038, 0.999, 0, 0, -0.999, -0.038, 0, 0, 0, 0, 1, 0, -158.715, 1.148, 0, 1); }
  8.09% { -webkit-transform: matrix3d(-0.032, 0.999, 0, 0, -0.999, -0.032, 0, 0, 0, 0, 1, 0, -158.925, 1.289, 0, 1); transform: matrix3d(-0.032, 0.999, 0, 0, -0.999, -0.032, 0, 0, 0, 0, 1, 0, -158.925, 1.289, 0, 1); }
  8.98% { -webkit-transform: matrix3d(-0.009, 1, 0, 0, -1, -0.009, 0, 0, 0, 0, 1, 0, -159.72, 1.572, 0, 1); transform: matrix3d(-0.009, 1, 0, 0, -1, -0.009, 0, 0, 0, 0, 1, 0, -159.72, 1.572, 0, 1); }
  11.1% { -webkit-transform: matrix3d(0.01, 1, 0, 0, -1, 0.01, 0, 0, 0, 0, 1, 0, -160.253, 0.87, 0, 1); transform: matrix3d(0.01, 1, 0, 0, -1, 0.01, 0, 0, 0, 0, 1, 0, -160.253, 0.87, 0, 1); }
  11.27% { -webkit-transform: matrix3d(0.01, 1, 0, 0, -1, 0.01, 0, 0, 0, 0, 1, 0, -160.252, 0.796, 0, 1); transform: matrix3d(0.01, 1, 0, 0, -1, 0.01, 0, 0, 0, 0, 1, 0, -160.252, 0.796, 0, 1); }
  14.19% { -webkit-transform: matrix3d(0.003, 1, 0, 0, -1, 0.003, 0, 0, 0, 0, 1, 0, -160.056, 0.01, 0, 1); transform: matrix3d(0.003, 1, 0, 0, -1, 0.003, 0, 0, 0, 0, 1, 0, -160.056, 0.01, 0, 1); }
  14.29% { -webkit-transform: matrix3d(0.003, 1, 0, 0, -1, 0.003, 0, 0, 0, 0, 1, 0, -160.051, 0, 0, 1); transform: matrix3d(0.003, 1, 0, 0, -1, 0.003, 0, 0, 0, 0, 1, 0, -160.051, 0, 0, 1); }
  15.2% { -webkit-transform: matrix3d(-0.576, 0.817, 0, 0, -0.817, -0.576, 0, 0, 0, 0, 1, 0, -116.564, -26.579, 0, 1); transform: matrix3d(-0.576, 0.817, 0, 0, -0.817, -0.576, 0, 0, 0, 0, 1, 0, -116.564, -26.579, 0, 1); }
  15.49% { -webkit-transform: matrix3d(-0.711, 0.703, 0, 0, -0.703, -0.711, 0, 0, 0, 0, 1, 0, -105.08, -30.276, 0, 1); transform: matrix3d(-0.711, 0.703, 0, 0, -0.703, -0.711, 0, 0, 0, 0, 1, 0, -105.08, -30.276, 0, 1); }
  15.52% { -webkit-transform: matrix3d(-0.723, 0.691, 0, 0, -0.691, -0.723, 0, 0, 0, 0, 1, 0, -104.001, -30.551, 0, 1); transform: matrix3d(-0.723, 0.691, 0, 0, -0.691, -0.723, 0, 0, 0, 0, 1, 0, -104.001, -30.551, 0, 1); }
  16.12% { -webkit-transform: matrix3d(-0.903, 0.43, 0, 0, -0.43, -0.903, 0, 0, 0, 0, 1, 0, -84.404, -33.11, 0, 1); transform: matrix3d(-0.903, 0.43, 0, 0, -0.43, -0.903, 0, 0, 0, 0, 1, 0, -84.404, -33.11, 0, 1); }
  16.13% { -webkit-transform: matrix3d(-0.906, 0.424, 0, 0, -0.424, -0.906, 0, 0, 0, 0, 1, 0, -84.008, -33.107, 0, 1); transform: matrix3d(-0.906, 0.424, 0, 0, -0.424, -0.906, 0, 0, 0, 0, 1, 0, -84.008, -33.107, 0, 1); }
  16.66% { -webkit-transform: matrix3d(-0.976, 0.218, 0, 0, -0.218, -0.976, 0, 0, 0, 0, 1, 0, -71.581, -31.495, 0, 1); transform: matrix3d(-0.976, 0.218, 0, 0, -0.218, -0.976, 0, 0, 0, 0, 1, 0, -71.581, -31.495, 0, 1); }
  16.75% { -webkit-transform: matrix3d(-0.982, 0.189, 0, 0, -0.189, -0.982, 0, 0, 0, 0, 1, 0, -69.952, -31.008, 0, 1); transform: matrix3d(-0.982, 0.189, 0, 0, -0.189, -0.982, 0, 0, 0, 0, 1, 0, -69.952, -31.008, 0, 1); }
  17.45% { -webkit-transform: matrix3d(-1, 0.002, 0, 0, -0.002, -1, 0, 0, 0, 0, 1, 0, -60.132, -25.63, 0, 1); transform: matrix3d(-1, 0.002, 0, 0, -0.002, -1, 0, 0, 0, 0, 1, 0, -60.132, -25.63, 0, 1); }
  17.62% { -webkit-transform: matrix3d(-1, -0.03, 0, 0, 0.03, -1, 0, 0, 0, 0, 1, 0, -58.553, -24.082, 0, 1); transform: matrix3d(-1, -0.03, 0, 0, 0.03, -1, 0, 0, 0, 0, 1, 0, -58.553, -24.082, 0, 1); }
  17.86% { -webkit-transform: matrix3d(-0.998, -0.068, 0, 0, 0.068, -0.998, 0, 0, 0, 0, 1, 0, -56.775, -21.833, 0, 1); transform: matrix3d(-0.998, -0.068, 0, 0, 0.068, -0.998, 0, 0, 0, 0, 1, 0, -56.775, -21.833, 0, 1); }
  17.92% { -webkit-transform: matrix3d(-0.997, -0.076, 0, 0, 0.076, -0.997, 0, 0, 0, 0, 1, 0, -56.428, -21.299, 0, 1); transform: matrix3d(-0.997, -0.076, 0, 0, 0.076, -0.997, 0, 0, 0, 0, 1, 0, -56.428, -21.299, 0, 1); }
  17.98% { -webkit-transform: matrix3d(-0.997, -0.083, 0, 0, 0.083, -0.997, 0, 0, 0, 0, 1, 0, -56.106, -20.766, 0, 1); transform: matrix3d(-0.997, -0.083, 0, 0, 0.083, -0.997, 0, 0, 0, 0, 1, 0, -56.106, -20.766, 0, 1); }
  19.03% { -webkit-transform: matrix3d(-0.989, -0.146, 0, 0, 0.146, -0.989, 0, 0, 0, 0, 1, 0, -53.663, -11.511, 0, 1); transform: matrix3d(-0.989, -0.146, 0, 0, 0.146, -0.989, 0, 0, 0, 0, 1, 0, -53.663, -11.511, 0, 1); }
  19.2% { -webkit-transform: matrix3d(-0.989, -0.147, 0, 0, 0.147, -0.989, 0, 0, 0, 0, 1, 0, -53.713, -10.209, 0, 1); transform: matrix3d(-0.989, -0.147, 0, 0, 0.147, -0.989, 0, 0, 0, 0, 1, 0, -53.713, -10.209, 0, 1); }
  19.69% { -webkit-transform: matrix3d(-0.99, -0.14, 0, 0, 0.14, -0.99, 0, 0, 0, 0, 1, 0, -54.227, -6.923, 0, 1); transform: matrix3d(-0.99, -0.14, 0, 0, 0.14, -0.99, 0, 0, 0, 0, 1, 0, -54.227, -6.923, 0, 1); }
  21.49% { -webkit-transform: matrix3d(-0.998, -0.066, 0, 0, 0.066, -0.998, 0, 0, 0, 0, 1, 0, -57.637, 0.131, 0, 1); transform: matrix3d(-0.998, -0.066, 0, 0, 0.066, -0.998, 0, 0, 0, 0, 1, 0, -57.637, 0.131, 0, 1); }
  22.21% { -webkit-transform: matrix3d(-0.999, -0.038, 0, 0, 0.038, -0.999, 0, 0, 0, 0, 1, 0, -58.715, 1.15, 0, 1); transform: matrix3d(-0.999, -0.038, 0, 0, 0.038, -0.999, 0, 0, 0, 0, 1, 0, -58.715, 1.15, 0, 1); }
  22.38% { -webkit-transform: matrix3d(-0.999, -0.032, 0, 0, 0.032, -0.999, 0, 0, 0, 0, 1, 0, -58.925, 1.292, 0, 1); transform: matrix3d(-0.999, -0.032, 0, 0, 0.032, -0.999, 0, 0, 0, 0, 1, 0, -58.925, 1.292, 0, 1); }
  23.27% { -webkit-transform: matrix3d(-1, -0.009, 0, 0, 0.009, -1, 0, 0, 0, 0, 1, 0, -59.72, 1.576, 0, 1); transform: matrix3d(-1, -0.009, 0, 0, 0.009, -1, 0, 0, 0, 0, 1, 0, -59.72, 1.576, 0, 1); }
  23.28% { -webkit-transform: matrix3d(-1, -0.009, 0, 0, 0.009, -1, 0, 0, 0, 0, 1, 0, -59.729, 1.576, 0, 1); transform: matrix3d(-1, -0.009, 0, 0, 0.009, -1, 0, 0, 0, 0, 1, 0, -59.729, 1.576, 0, 1); }
  23.8% { -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -59.995, 1.501, 0, 1); transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, -59.995, 1.501, 0, 1); }
  24% { -webkit-transform: matrix3d(-1, 0.002, 0, 0, -0.002, -1, 0, 0, 0, 0, 1, 0, -60.067, 1.444, 0, 1); transform: matrix3d(-1, 0.002, 0, 0, -0.002, -1, 0, 0, 0, 0, 1, 0, -60.067, 1.444, 0, 1); }
  25.38% { -webkit-transform: matrix3d(-1, 0.01, 0, 0, -0.01, -1, 0, 0, 0, 0, 1, 0, -60.254, 0.872, 0, 1); transform: matrix3d(-1, 0.01, 0, 0, -0.01, -1, 0, 0, 0, 0, 1, 0, -60.254, 0.872, 0, 1); }
  25.55% { -webkit-transform: matrix3d(-1, 0.01, 0, 0, -0.01, -1, 0, 0, 0, 0, 1, 0, -60.252, 0.797, 0, 1); transform: matrix3d(-1, 0.01, 0, 0, -0.01, -1, 0, 0, 0, 0, 1, 0, -60.252, 0.797, 0, 1); }
  28.47% { -webkit-transform: matrix3d(-1, 0.003, 0, 0, -0.003, -1, 0, 0, 0, 0, 1, 0, -60.056, 0.01, 0, 1); transform: matrix3d(-1, 0.003, 0, 0, -0.003, -1, 0, 0, 0, 0, 1, 0, -60.056, 0.01, 0, 1); }
  28.57% { -webkit-transform: matrix3d(-1, 0.003, 0, 0, -0.003, -1, 0, 0, 0, 0, 1, 0, -60.051, 0, 0, 1); transform: matrix3d(-1, 0.003, 0, 0, -0.003, -1, 0, 0, 0, 0, 1, 0, -60.051, 0, 0, 1); }
  29.49% { -webkit-transform: matrix3d(-0.817, -0.576, 0, 0, 0.576, -0.817, 0, 0, 0, 0, 1, 0, -20.887, -26.579, 0, 1); transform: matrix3d(-0.817, -0.576, 0, 0, 0.576, -0.817, 0, 0, 0, 0, 1, 0, -20.887, -26.579, 0, 1); }
  29.8% { -webkit-transform: matrix3d(-0.691, -0.723, 0, 0, 0.723, -0.691, 0, 0, 0, 0, 1, 0, -8.58, -30.551, 0, 1); transform: matrix3d(-0.691, -0.723, 0, 0, 0.723, -0.691, 0, 0, 0, 0, 1, 0, -8.58, -30.551, 0, 1); }
  30.4% { -webkit-transform: matrix3d(-0.43, -0.903, 0, 0, 0.903, -0.43, 0, 0, 0, 0, 1, 0, 11.721, -33.11, 0, 1); transform: matrix3d(-0.43, -0.903, 0, 0, 0.903, -0.43, 0, 0, 0, 0, 1, 0, 11.721, -33.11, 0, 1); }
  30.42% { -webkit-transform: matrix3d(-0.424, -0.906, 0, 0, 0.906, -0.424, 0, 0, 0, 0, 1, 0, 12.148, -33.107, 0, 1); transform: matrix3d(-0.424, -0.906, 0, 0, 0.906, -0.424, 0, 0, 0, 0, 1, 0, 12.148, -33.107, 0, 1); }
  31.03% { -webkit-transform: matrix3d(-0.189, -0.982, 0, 0, 0.982, -0.189, 0, 0, 0, 0, 1, 0, 27.867, -31.008, 0, 1); transform: matrix3d(-0.189, -0.982, 0, 0, 0.982, -0.189, 0, 0, 0, 0, 1, 0, 27.867, -31.008, 0, 1); }
  31.73% { -webkit-transform: matrix3d(-0.002, -1, 0, 0, 1, -0.002, 0, 0, 0, 0, 1, 0, 39.826, -25.63, 0, 1); transform: matrix3d(-0.002, -1, 0, 0, 1, -0.002, 0, 0, 0, 0, 1, 0, 39.826, -25.63, 0, 1); }
  31.9% { -webkit-transform: matrix3d(0.03, -1, 0, 0, 1, 0.03, 0, 0, 0, 0, 1, 0, 41.889, -24.082, 0, 1); transform: matrix3d(0.03, -1, 0, 0, 1, 0.03, 0, 0, 0, 0, 1, 0, 41.889, -24.082, 0, 1); }
  32.2% { -webkit-transform: matrix3d(0.076, -0.997, 0, 0, 0.997, 0.076, 0, 0, 0, 0, 1, 0, 44.782, -21.299, 0, 1); transform: matrix3d(0.076, -0.997, 0, 0, 0.997, 0.076, 0, 0, 0, 0, 1, 0, 44.782, -21.299, 0, 1); }
  32.26% { -webkit-transform: matrix3d(0.083, -0.997, 0, 0, 0.997, 0.083, 0, 0, 0, 0, 1, 0, 45.237, -20.766, 0, 1); transform: matrix3d(0.083, -0.997, 0, 0, 0.997, 0.083, 0, 0, 0, 0, 1, 0, 45.237, -20.766, 0, 1); }
  33.49% { -webkit-transform: matrix3d(0.147, -0.989, 0, 0, 0.989, 0.147, 0, 0, 0, 0, 1, 0, 49.339, -10.209, 0, 1); transform: matrix3d(0.147, -0.989, 0, 0, 0.989, 0.147, 0, 0, 0, 0, 1, 0, 49.339, -10.209, 0, 1); }
  33.98% { -webkit-transform: matrix3d(0.14, -0.99, 0, 0, 0.99, 0.14, 0, 0, 0, 0, 1, 0, 48.918, -6.923, 0, 1); transform: matrix3d(0.14, -0.99, 0, 0, 0.99, 0.14, 0, 0, 0, 0, 1, 0, 48.918, -6.923, 0, 1); }
  35.78% { -webkit-transform: matrix3d(0.066, -0.998, 0, 0, 0.998, 0.066, 0, 0, 0, 0, 1, 0, 44.22, 0.131, 0, 1); transform: matrix3d(0.066, -0.998, 0, 0, 0.998, 0.066, 0, 0, 0, 0, 1, 0, 44.22, 0.131, 0, 1); }
  36.67% { -webkit-transform: matrix3d(0.032, -0.999, 0, 0, 0.999, 0.032, 0, 0, 0, 0, 1, 0, 42.063, 1.292, 0, 1); transform: matrix3d(0.032, -0.999, 0, 0, 0.999, 0.032, 0, 0, 0, 0, 1, 0, 42.063, 1.292, 0, 1); }
  37.55% { -webkit-transform: matrix3d(0.009, -1, 0, 0, 1, 0.009, 0, 0, 0, 0, 1, 0, 40.577, 1.576, 0, 1); transform: matrix3d(0.009, -1, 0, 0, 1, 0.009, 0, 0, 0, 0, 1, 0, 40.577, 1.576, 0, 1); }
  37.57% { -webkit-transform: matrix3d(0.009, -1, 0, 0, 1, 0.009, 0, 0, 0, 0, 1, 0, 40.559, 1.576, 0, 1); transform: matrix3d(0.009, -1, 0, 0, 1, 0.009, 0, 0, 0, 0, 1, 0, 40.559, 1.576, 0, 1); }
  38.08% { -webkit-transform: matrix3d(0, -1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 40.012, 1.501, 0, 1); transform: matrix3d(0, -1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 40.012, 1.501, 0, 1); }
  38.28% { -webkit-transform: matrix3d(-0.002, -1, 0, 0, 1, -0.002, 0, 0, 0, 0, 1, 0, 39.853, 1.444, 0, 1); transform: matrix3d(-0.002, -1, 0, 0, 1, -0.002, 0, 0, 0, 0, 1, 0, 39.853, 1.444, 0, 1); }
  39.84% { -webkit-transform: matrix3d(-0.01, -1, 0, 0, 1, -0.01, 0, 0, 0, 0, 1, 0, 39.377, 0.797, 0, 1); transform: matrix3d(-0.01, -1, 0, 0, 1, -0.01, 0, 0, 0, 0, 1, 0, 39.377, 0.797, 0, 1); }
  42.76% { -webkit-transform: matrix3d(-0.003, -1, 0, 0, 1, -0.003, 0, 0, 0, 0, 1, 0, 39.825, 0.01, 0, 1); transform: matrix3d(-0.003, -1, 0, 0, 1, -0.003, 0, 0, 0, 0, 1, 0, 39.825, 0.01, 0, 1); }
  42.86% { -webkit-transform: matrix3d(-0.003, -1, 0, 0, 1, -0.003, 0, 0, 0, 0, 1, 0, 39.84, 0, 0, 1); transform: matrix3d(-0.003, -1, 0, 0, 1, -0.003, 0, 0, 0, 0, 1, 0, 39.84, 0, 0, 1); }
  43.77% { -webkit-transform: matrix3d(0.576, -0.817, 0, 0, 0.817, 0.576, 0, 0, 0, 0, 1, 0, 79.078, -26.579, 0, 1); transform: matrix3d(0.576, -0.817, 0, 0, 0.817, 0.576, 0, 0, 0, 0, 1, 0, 79.078, -26.579, 0, 1); }
  44.09% { -webkit-transform: matrix3d(0.723, -0.691, 0, 0, 0.691, 0.723, 0, 0, 0, 0, 1, 0, 91.403, -30.551, 0, 1); transform: matrix3d(0.723, -0.691, 0, 0, 0.691, 0.723, 0, 0, 0, 0, 1, 0, 91.403, -30.551, 0, 1); }
  44.69% { -webkit-transform: matrix3d(0.903, -0.43, 0, 0, 0.43, 0.903, 0, 0, 0, 0, 1, 0, 111.731, -33.11, 0, 1); transform: matrix3d(0.903, -0.43, 0, 0, 0.43, 0.903, 0, 0, 0, 0, 1, 0, 111.731, -33.11, 0, 1); }
  44.7% { -webkit-transform: matrix3d(0.906, -0.424, 0, 0, 0.424, 0.906, 0, 0, 0, 0, 1, 0, 112.157, -33.107, 0, 1); transform: matrix3d(0.906, -0.424, 0, 0, 0.424, 0.906, 0, 0, 0, 0, 1, 0, 112.157, -33.107, 0, 1); }
  45.32% { -webkit-transform: matrix3d(0.982, -0.189, 0, 0, 0.189, 0.982, 0, 0, 0, 0, 1, 0, 127.892, -31.008, 0, 1); transform: matrix3d(0.982, -0.189, 0, 0, 0.189, 0.982, 0, 0, 0, 0, 1, 0, 127.892, -31.008, 0, 1); }
  46.19% { -webkit-transform: matrix3d(1, 0.03, 0, 0, -0.03, 1, 0, 0, 0, 0, 1, 0, 141.92, -24.082, 0, 1); transform: matrix3d(1, 0.03, 0, 0, -0.03, 1, 0, 0, 0, 0, 1, 0, 141.92, -24.082, 0, 1); }
  46.49% { -webkit-transform: matrix3d(0.997, 0.076, 0, 0, -0.076, 0.997, 0, 0, 0, 0, 1, 0, 144.813, -21.299, 0, 1); transform: matrix3d(0.997, 0.076, 0, 0, -0.076, 0.997, 0, 0, 0, 0, 1, 0, 144.813, -21.299, 0, 1); }
  46.55% { -webkit-transform: matrix3d(0.997, 0.083, 0, 0, -0.083, 0.997, 0, 0, 0, 0, 1, 0, 145.268, -20.766, 0, 1); transform: matrix3d(0.997, 0.083, 0, 0, -0.083, 0.997, 0, 0, 0, 0, 1, 0, 145.268, -20.766, 0, 1); }
  47.78% { -webkit-transform: matrix3d(0.989, 0.147, 0, 0, -0.147, 0.989, 0, 0, 0, 0, 1, 0, 149.361, -10.209, 0, 1); transform: matrix3d(0.989, 0.147, 0, 0, -0.147, 0.989, 0, 0, 0, 0, 1, 0, 149.361, -10.209, 0, 1); }
  48.26% { -webkit-transform: matrix3d(0.99, 0.14, 0, 0, -0.14, 0.99, 0, 0, 0, 0, 1, 0, 148.935, -6.923, 0, 1); transform: matrix3d(0.99, 0.14, 0, 0, -0.14, 0.99, 0, 0, 0, 0, 1, 0, 148.935, -6.923, 0, 1); }
  50.06% { -webkit-transform: matrix3d(0.998, 0.066, 0, 0, -0.066, 0.998, 0, 0, 0, 0, 1, 0, 144.223, 0.131, 0, 1); transform: matrix3d(0.998, 0.066, 0, 0, -0.066, 0.998, 0, 0, 0, 0, 1, 0, 144.223, 0.131, 0, 1); }
  50.95% { -webkit-transform: matrix3d(0.999, 0.032, 0, 0, -0.032, 0.999, 0, 0, 0, 0, 1, 0, 142.062, 1.292, 0, 1); transform: matrix3d(0.999, 0.032, 0, 0, -0.032, 0.999, 0, 0, 0, 0, 1, 0, 142.062, 1.292, 0, 1); }
  51.84% { -webkit-transform: matrix3d(1, 0.009, 0, 0, -0.009, 1, 0, 0, 0, 0, 1, 0, 140.575, 1.576, 0, 1); transform: matrix3d(1, 0.009, 0, 0, -0.009, 1, 0, 0, 0, 0, 1, 0, 140.575, 1.576, 0, 1); }
  51.85% { -webkit-transform: matrix3d(1, 0.009, 0, 0, -0.009, 1, 0, 0, 0, 0, 1, 0, 140.557, 1.576, 0, 1); transform: matrix3d(1, 0.009, 0, 0, -0.009, 1, 0, 0, 0, 0, 1, 0, 140.557, 1.576, 0, 1); }
  52.57% { -webkit-transform: matrix3d(1, -0.002, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 139.851, 1.444, 0, 1); transform: matrix3d(1, -0.002, 0, 0, 0.002, 1, 0, 0, 0, 0, 1, 0, 139.851, 1.444, 0, 1); }
  54.13% { -webkit-transform: matrix3d(1, -0.01, 0, 0, 0.01, 1, 0, 0, 0, 0, 1, 0, 139.375, 0.797, 0, 1); transform: matrix3d(1, -0.01, 0, 0, 0.01, 1, 0, 0, 0, 0, 1, 0, 139.375, 0.797, 0, 1); }
  57.04% { -webkit-transform: matrix3d(1, -0.003, 0, 0, 0.003, 1, 0, 0, 0, 0, 1, 0, 139.825, 0.01, 0, 1); transform: matrix3d(1, -0.003, 0, 0, 0.003, 1, 0, 0, 0, 0, 1, 0, 139.825, 0.01, 0, 1); }
  57.14% { -webkit-transform: matrix3d(1, -0.003, 0, 0, 0.003, 1, 0, 0, 0, 0, 1, 0, 139.84, 0, 0, 1); transform: matrix3d(1, -0.003, 0, 0, 0.003, 1, 0, 0, 0, 0, 1, 0, 139.84, 0, 0, 1); }
  58.06% { -webkit-transform: matrix3d(0.817, 0.576, 0, 0, -0.576, 0.817, 0, 0, 0, 0, 1, 0, 179.078, -26.579, 0, 1); transform: matrix3d(0.817, 0.576, 0, 0, -0.576, 0.817, 0, 0, 0, 0, 1, 0, 179.078, -26.579, 0, 1); }
  58.37% { -webkit-transform: matrix3d(0.691, 0.723, 0, 0, -0.723, 0.691, 0, 0, 0, 0, 1, 0, 191.403, -30.551, 0, 1); transform: matrix3d(0.691, 0.723, 0, 0, -0.723, 0.691, 0, 0, 0, 0, 1, 0, 191.403, -30.551, 0, 1); }
  58.97% { -webkit-transform: matrix3d(0.43, 0.903, 0, 0, -0.903, 0.43, 0, 0, 0, 0, 1, 0, 211.731, -33.11, 0, 1); transform: matrix3d(0.43, 0.903, 0, 0, -0.903, 0.43, 0, 0, 0, 0, 1, 0, 211.731, -33.11, 0, 1); }
  58.99% { -webkit-transform: matrix3d(0.424, 0.906, 0, 0, -0.906, 0.424, 0, 0, 0, 0, 1, 0, 212.157, -33.107, 0, 1); transform: matrix3d(0.424, 0.906, 0, 0, -0.906, 0.424, 0, 0, 0, 0, 1, 0, 212.157, -33.107, 0, 1); }
  59.6% { -webkit-transform: matrix3d(0.189, 0.982, 0, 0, -0.982, 0.189, 0, 0, 0, 0, 1, 0, 227.892, -31.008, 0, 1); transform: matrix3d(0.189, 0.982, 0, 0, -0.982, 0.189, 0, 0, 0, 0, 1, 0, 227.892, -31.008, 0, 1); }
  60.47% { -webkit-transform: matrix3d(-0.03, 1, 0, 0, -1, -0.03, 0, 0, 0, 0, 1, 0, 241.92, -24.082, 0, 1); transform: matrix3d(-0.03, 1, 0, 0, -1, -0.03, 0, 0, 0, 0, 1, 0, 241.92, -24.082, 0, 1); }
  60.78% { -webkit-transform: matrix3d(-0.076, 0.997, 0, 0, -0.997, -0.076, 0, 0, 0, 0, 1, 0, 244.813, -21.299, 0, 1); transform: matrix3d(-0.076, 0.997, 0, 0, -0.997, -0.076, 0, 0, 0, 0, 1, 0, 244.813, -21.299, 0, 1); }
  60.83% { -webkit-transform: matrix3d(-0.083, 0.997, 0, 0, -0.997, -0.083, 0, 0, 0, 0, 1, 0, 245.268, -20.766, 0, 1); transform: matrix3d(-0.083, 0.997, 0, 0, -0.997, -0.083, 0, 0, 0, 0, 1, 0, 245.268, -20.766, 0, 1); }
  62.06% { -webkit-transform: matrix3d(-0.147, 0.989, 0, 0, -0.989, -0.147, 0, 0, 0, 0, 1, 0, 249.361, -10.209, 0, 1); transform: matrix3d(-0.147, 0.989, 0, 0, -0.989, -0.147, 0, 0, 0, 0, 1, 0, 249.361, -10.209, 0, 1); }
  62.55% { -webkit-transform: matrix3d(-0.14, 0.99, 0, 0, -0.99, -0.14, 0, 0, 0, 0, 1, 0, 248.935, -6.923, 0, 1); transform: matrix3d(-0.14, 0.99, 0, 0, -0.99, -0.14, 0, 0, 0, 0, 1, 0, 248.935, -6.923, 0, 1); }
  64.35% { -webkit-transform: matrix3d(-0.066, 0.998, 0, 0, -0.998, -0.066, 0, 0, 0, 0, 1, 0, 244.223, 0.131, 0, 1); transform: matrix3d(-0.066, 0.998, 0, 0, -0.998, -0.066, 0, 0, 0, 0, 1, 0, 244.223, 0.131, 0, 1); }
  65.24% { -webkit-transform: matrix3d(-0.032, 0.999, 0, 0, -0.999, -0.032, 0, 0, 0, 0, 1, 0, 242.062, 1.292, 0, 1); transform: matrix3d(-0.032, 0.999, 0, 0, -0.999, -0.032, 0, 0, 0, 0, 1, 0, 242.062, 1.292, 0, 1); }
  66.12% { -webkit-transform: matrix3d(-0.009, 1, 0, 0, -1, -0.009, 0, 0, 0, 0, 1, 0, 240.575, 1.576, 0, 1); transform: matrix3d(-0.009, 1, 0, 0, -1, -0.009, 0, 0, 0, 0, 1, 0, 240.575, 1.576, 0, 1); }
  66.14% { -webkit-transform: matrix3d(-0.009, 1, 0, 0, -1, -0.009, 0, 0, 0, 0, 1, 0, 240.557, 1.576, 0, 1); transform: matrix3d(-0.009, 1, 0, 0, -1, -0.009, 0, 0, 0, 0, 1, 0, 240.557, 1.576, 0, 1); }
  66.85% { -webkit-transform: matrix3d(0.002, 1, 0, 0, -1, 0.002, 0, 0, 0, 0, 1, 0, 239.851, 1.444, 0, 1); transform: matrix3d(0.002, 1, 0, 0, -1, 0.002, 0, 0, 0, 0, 1, 0, 239.851, 1.444, 0, 1); }
  68.41% { -webkit-transform: matrix3d(0.01, 1, 0, 0, -1, 0.01, 0, 0, 0, 0, 1, 0, 239.375, 0.797, 0, 1); transform: matrix3d(0.01, 1, 0, 0, -1, 0.01, 0, 0, 0, 0, 1, 0, 239.375, 0.797, 0, 1); }
  71.33% { -webkit-transform: matrix3d(0.003, 1, 0, 0, -1, 0.003, 0, 0, 0, 0, 1, 0, 239.825, 0.01, 0, 1); transform: matrix3d(0.003, 1, 0, 0, -1, 0.003, 0, 0, 0, 0, 1, 0, 239.825, 0.01, 0, 1); }
  71.43% { -webkit-transform: matrix3d(0.003, 1, 0, 0, -1, 0.003, 0, 0, 0, 0, 1, 0, 239.84, 0, 0, 1); transform: matrix3d(0.003, 1, 0, 0, -1, 0.003, 0, 0, 0, 0, 1, 0, 239.84, 0, 0, 1); }
  71.43% { -webkit-transform: matrix3d(0.003, 1, 0, 0, -1, 0.003, 0, 0, 0, 0, 1, 0, 239.84, 0, 0, 1); transform: matrix3d(0.003, 1, 0, 0, -1, 0.003, 0, 0, 0, 0, 1, 0, 239.84, 0, 0, 1); }
  72.66% { -webkit-transform: matrix3d(-0.723, 0.691, 0, 0, -0.691, -0.723, 0, 0, 0, 0, 1, 0, 291.403, -51.496, 0, 1); transform: matrix3d(-0.723, 0.691, 0, 0, -0.691, -0.723, 0, 0, 0, 0, 1, 0, 291.403, -51.496, 0, 1); }
  73.27% { -webkit-transform: matrix3d(-0.906, 0.424, 0, 0, -0.424, -0.906, 0, 0, 0, 0, 1, 0, 312.157, -72.219, 0, 1); transform: matrix3d(-0.906, 0.424, 0, 0, -0.424, -0.906, 0, 0, 0, 0, 1, 0, 312.157, -72.219, 0, 1); }
  73.89% { -webkit-transform: matrix3d(-0.982, 0.189, 0, 0, -0.189, -0.982, 0, 0, 0, 0, 1, 0, 327.892, -87.929, 0, 1); transform: matrix3d(-0.982, 0.189, 0, 0, -0.189, -0.982, 0, 0, 0, 0, 1, 0, 327.892, -87.929, 0, 1); }
  74.76% { -webkit-transform: matrix3d(-1, -0.03, 0, 0, 0.03, -1, 0, 0, 0, 0, 1, 0, 341.92, -101.933, 0, 1); transform: matrix3d(-1, -0.03, 0, 0, 0.03, -1, 0, 0, 0, 0, 1, 0, 341.92, -101.933, 0, 1); }
  75.12% { -webkit-transform: matrix3d(-0.997, -0.083, 0, 0, 0.083, -0.997, 0, 0, 0, 0, 1, 0, 345.268, -105.275, 0, 1); transform: matrix3d(-0.997, -0.083, 0, 0, 0.083, -0.997, 0, 0, 0, 0, 1, 0, 345.268, -105.275, 0, 1); }
  76.35% { -webkit-transform: matrix3d(-0.989, -0.147, 0, 0, 0.147, -0.989, 0, 0, 0, 0, 1, 0, 349.361, -109.357, 0, 1); transform: matrix3d(-0.989, -0.147, 0, 0, 0.147, -0.989, 0, 0, 0, 0, 1, 0, 349.361, -109.357, 0, 1); }
  79.52% { -webkit-transform: matrix3d(-0.999, -0.032, 0, 0, 0.032, -0.999, 0, 0, 0, 0, 1, 0, 342.062, -102.06, 0, 1); transform: matrix3d(-0.999, -0.032, 0, 0, 0.032, -0.999, 0, 0, 0, 0, 1, 0, 342.062, -102.06, 0, 1); }
  80.42% { -webkit-transform: matrix3d(-1, -0.009, 0, 0, 0.009, -1, 0, 0, 0, 0, 1, 0, 340.557, -100.556, 0, 1); transform: matrix3d(-1, -0.009, 0, 0, 0.009, -1, 0, 0, 0, 0, 1, 0, 340.557, -100.556, 0, 1); }
  81.14% { -webkit-transform: matrix3d(-1, 0.002, 0, 0, -0.002, -1, 0, 0, 0, 0, 1, 0, 339.851, -99.85, 0, 1); transform: matrix3d(-1, 0.002, 0, 0, -0.002, -1, 0, 0, 0, 0, 1, 0, 339.851, -99.85, 0, 1); }
  82.7% { -webkit-transform: matrix3d(-1, 0.01, 0, 0, -0.01, -1, 0, 0, 0, 0, 1, 0, 339.375, -99.375, 0, 1); transform: matrix3d(-1, 0.01, 0, 0, -0.01, -1, 0, 0, 0, 0, 1, 0, 339.375, -99.375, 0, 1); }
  85.71% { -webkit-transform: matrix3d(-1, 0.003, 0, 0, -0.003, -1, 0, 0, 0, 0, 1, 0, 339.84, -99.84, 0, 1); transform: matrix3d(-1, 0.003, 0, 0, -0.003, -1, 0, 0, 0, 0, 1, 0, 339.84, -99.84, 0, 1); }
  89.05% { -webkit-transform: matrix3d(-1, -0.001, 0, 0, 0.001, -1, 0, 0, 0, 0, 1, 0, 340.042, -100.042, 0, 1); transform: matrix3d(-1, -0.001, 0, 0, 0.001, -1, 0, 0, 0, 0, 1, 0, 340.042, -100.042, 0, 1); }
  95.42% { -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 339.997, -99.997, 0, 1); transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 339.997, -99.997, 0, 1); }
  100% { -webkit-transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 340, -100, 0, 1); transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 340, -100, 0, 1); } 
}


